#tool-section{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15vh;
}

/*-----------------TITLE-----------------*/

#tool-section .title{
  font-size: 2rem;
  background-color: #6babff;

  transition: background-color .5s ease;
}

#tool-section .title span{
  font-family: "Times New Roman", sans-serif;
  font-weight: 100;
}
home-tool-section-panel ul{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/*-----------------TITLE-----------------*/

/*------------PANEL IN DEVELOPMENT ADVICE------------*/
#tool-section .panel-container .panel__in-development-advice{


  width: 30rem;
  padding: 2rem;
  border-radius: 20px;

  position: absolute;
  left: 0;
  bottom: 10rem;

  display: grid;
  grid-template: auto auto/1fr 2fr;
  background-color: #FFE436;

}
#tool-section .panel-container .panel__in-development-advice.animated{
  animation: slide__from-left 2s ease forwards, fade-in 2s ease forwards;
}
#tool-section .panel-container .panel__in-development-advice img{
  width: 100%;
  height: 100%;

  grid-row: span 2;

  object-fit: contain;
}
#tool-section .panel-container .panel__in-development-advice h4{
  font-size: 2rem;
}

#tool-section .panel-container .panel__in-development-advice p{
  font-size: 1.5rem;
}
/*------------PANEL IN DEVELOPMENT ADVICE------------*/

/*-----------------ANIMATIONS-----------------*/
@keyframes fade-in {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

@keyframes slide__from-left {
  from{
    translate: -100%;
  }
  to{
    translate: 0;
  }
}

@keyframes slide__from-right {
  from {
    translate:40%;
  }
  to{
    translate: 0;
  }
}


/*-----------------ANIMATIONS-----------------*/
