<calculators-topic-section [topicColor]="colorSchema.main">
  <ez-h2>Trigonometría</ez-h2>
  <ez-p>
    Haya solución a cualquier problema de trigonometría. Funciones trigonométricas, teorema de Pitágoras o incluso
    funciones hiperbólicas. Con MathEz, ¡Estas no serán ningún problema para ti!
  </ez-p>
  <img alt="Ilustración de calculo." src="/assets/calculators/trigonometry/trigonometry-ilustration.webp">
  <calculators-topic-card>
    <img alt="Calculadora del Teorema de Pitágoras." src="/assets/calculators/trigonometry/icons/pythagoras.webp">
    <ez-h4>Teorema de Pitágoras</ez-h4>
    <ez-p>Resuelve las incógnitas de cualquier problema con el teorema de Pitágoras.</ez-p>
  </calculators-topic-card>

  <calculators-topic-card>
    <img alt="Calculadora de Leyes de Senos y Cosenos." src="/assets/calculators/trigonometry/icons/sines-cosines.webp">
    <ez-h4>Leyes de Senos y Cosenos</ez-h4>
    <ez-p>Soluciona cualquier problema de trigonometría usando las leyes de senos y cosenos.</ez-p>
  </calculators-topic-card>
</calculators-topic-section>
<img [speed]="-1" alt="Ilustracion de fondo" class="bg bg-1"
     ezRellax src="/assets/calculators/trigonometry/bg/trigonometry-bg-1.webp">
<img [speed]="-2" alt="Ilustracion de fondo" class="bg bg-2"
     ezRellax src="/assets/calculators/trigonometry/bg/trigonometry-bg-2.webp">
