<header id="header">
  <div class="logo">
    <img src="/assets/header/math-ez-sigma-header.png" alt="">
    <p><span>Math</span>Ez</p>
  </div>
  <nav>
    <ul>
      <li><a href="">Introduccion</a></li>
      <li>
        <nav id="tool-section-nav-selector">
          <label>
            <input type="checkbox">
            <span>Prueba MathEz</span> <span class="arrow"></span>
          </label>
          <ul>
            <li><a href="">Algebra</a></li>
            <li><a href="">Calculus</a></li>
            <li><a href="">Logica</a></li>
            <li><a href="">Graficos</a></li>
            <li><a href="">Medidas</a></li>
            <li><a href="">Estadistica</a></li>
          </ul>
        </nav>
      </li>
      <li><a href="">Contacto</a></li>
    </ul>
  </nav>
</header>
