header{
  height: 6rem;
  padding: 0 4rem;


  z-index: 20;
  grid-column: span 2;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #c9dcff;

}
header nav{
  max-width: 37rem;
  flex-grow: 1.5;
}
header nav ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav ul li{
  list-style: none;
}
header .logo{
  font-size: 3rem;
  flex-grow: 1;
  max-width: 200px;
  /*background-color: #a4aa;*/
  align-items: center;
  display: flex;
  filter: drop-shadow(0.5rem 0.5rem 0.5rem #00000011);
  text-shadow: 5px 5px 4px rgba(0,0,0, 0.25);

}
header .logo span{
  font-family: "Times New Roman", sans-serif;
}

header .logo img{
  object-fit: contain;
  height: 3rem;
  filter: drop-shadow(5px 5px 4px rgba(0,0,0, 0.25));
}

header nav a{
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}


