section {
  height: calc(100vh - 20rem);
  display: flex;
  align-items: center;
  gap: 4rem;
  padding: 0 4rem;
  justify-content: center;
}

.left-container {
  min-width: min(35rem, 40vw);
  max-width: 45rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
}

.logo {
  width: 100%;
  height: 100%;
  fill: var(--col-black);
}

.right-container {
  max-width: 60rem;
  min-width: min(35rem, 50vw);
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 0;
}

ez-h2, ez-h1, ez-p {
  text-align: center;
}

.input-container {
  min-width: 0;
  width: 90%;
  max-width: 42rem;
  height: 4rem;
  display: flex;
  gap: 0.5rem;
}

app-input {
  font-size: 2rem;
  height: 100%;
  background-color: var(--col-white);
  flex: 1 1 0;
}

ez-button {
  width: 5rem;
  height: 100%;
  font-size: 3rem;
  --btn-bg: var(--col-main-l1);
  --btn-radius: 0.75rem;
}

@media (max-width: 1100px) {
  .input-container {
    height: 3.5rem;
  }

  app-input {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) {
  section {
    flex-direction: column;
    /*gap: 2rem;*/
    padding: 0 2rem;
    justify-content: start;
  }

  .left-container {
    max-height: 15rem;
  }

  .right-container {
    min-width: 100%;
    max-width: 100%;
    gap: 1rem;
  }

}
