<section id="logo-section">
  <figure #logo class="logo-container" [ngStyle]="actualLogoLocation">
    <div class="logo-eater"></div>
    <img class="sigma" src="/assets/home/logo-section/MarhEz_Sigma_Icon_Fixed.svg" alt="">
    <img class="logo" src="/assets/home/logo-section/MathEz_Logo.svg" alt="">
  </figure>
  <div #phrase class="phrase-container">
    <blockquote class="phrase">
      “La matemática pura es, a su manera, la poesía de las ideas lógicas.”
    </blockquote>
    <cite class="phrase phrase__autor">
      - Albert Einstein
    </cite>
  </div>
</section>

