:host{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.frac-bar{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  width: 90%;
  height: calc(1em*0.05);
  background-color: var(--line-color);

  transition: background-color var(--highlighting-transition-duration) var(--highlighting-transition-easing);

}
