:host {
  height: 120vh;
  display: block;
  position: relative;
}

.content {
  position: relative;
  top: 17rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

ez-h2 {
  margin: 2rem 0;
}

ez-p {
  max-width: 50rem;
  text-align: center;
}

img {
  width: auto;
  height: 30rem;
  position: absolute;
}

ez-button {
  --btn-bg: var(--col-black);
  --btn-fg: var(--col-white);
  margin: 1rem 0;
}

.img-1 {
  top: -60rem;
  left: 4rem;
}

.img-2 {
  top: -81rem;
  right: 0;
}

.bottom-blob {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 25rem;
  z-index: 10;
}

.bg {
  position: absolute;
  width: auto;
  height: auto;
  object-fit: contain;
  opacity: 0.4;
  z-index: -10;
}

.bg-1 {
  width: 30rem;
  top: -20rem;
  left: 40rem;
}

.bg-2 {
  width: 35rem;
  top: -100rem;
  right: 10rem;
}

.bg-3 {
  width: 20rem;
  top: -185rem;
  left: 10rem;
}
