<calculators-topic-section [topicColor]="ColorSchemas.CALCULUS.main">
  <ez-h2>Calculo</ez-h2>
  <ez-p>Aquí encontraras calculadoras para resolver cualquier tipo de problema de calculo que se te ponga en frente, ya
    sea de calculo diferencial, integral o incluso transformada de Laplace, ¡MathEz te tiene cubierto!
  </ez-p>
  <img alt="Ilustración de calculo." src="/assets/calculators/calculus/calculus-ilustration.webp">
  <calculators-topic-card>
    <img alt="Calculadora de integrales definidas." src="/assets/calculators/calculus/icons/defined-integral.webp">
    <ez-h4>Integrales definidas</ez-h4>
    <ez-p>Obtén el área bajo la curva dada por cualquier integral definida.</ez-p>
  </calculators-topic-card>
  <calculators-topic-card>
    <img alt="Calculadora de integrales indefinidas." src="/assets/calculators/calculus/icons/undefined-integral.webp">
    <ez-h4>Integrales indefinidas</ez-h4>
    <ez-p>Obtén la integral indefinida de cualquier función diferencial.</ez-p>
  </calculators-topic-card>
  <calculators-topic-card>
    <img alt="Calculadora de transformada de Laplace."
         src="/assets/calculators/calculus/icons/laplace-transformation.webp">
    <ez-h4>Transformada de laplace</ez-h4>
    <ez-p>Transforma cualquier función de manera fácil y sencilla.</ez-p>
  </calculators-topic-card>
  <calculators-topic-card>
    <img alt="Calculadora de derivadas." src="/assets/calculators/calculus/icons/derivative.webp">
    <ez-h4>Derivadas</ez-h4>
    <ez-p>Deriva funciones de cualquier tipo en segundos.</ez-p>
  </calculators-topic-card>


</calculators-topic-section>
