<calculators-topic-section [topicColor]="colorSchema.main">
  <ez-h2>Graficas</ez-h2>
  <ez-p>
    Con MathEz podrás graficar todo tipo de funciones dentro del plano cartesiano de manera fácil, sencilla e intuitiva.
    Realiza todo tipo de métodos gráficos gracias a las herramientas de traficación de MathEz.
  </ez-p>
  <img alt="Ilustración de Graficas" src="/assets/calculators/graphics/graphics-ilustration.webp">

  <calculators-topic-card>
    <img alt="Calculadora de sistemas de ecuaciones." src="/assets/calculators/graphics/icons/graphing-calculator.webp">
    <ez-h4>Graficadora</ez-h4>
    <ez-p>Grafica funciones matemáticas, traza líneas, puntos y realiza todo tipo de operaciones dentro del plano
      cartesiano.
    </ez-p>
  </calculators-topic-card>
</calculators-topic-section>
<img [speed]="-1" alt="Ilustracion de fondo" class="bg bg-1"
     ezRellax src="/assets/calculators/graphics/bg/graphics-bg-1.webp">
<img [speed]="-2" alt="Ilustracion de fondo" class="bg bg-2"
     ezRellax src="/assets/calculators/graphics/bg/graphics-bg-2.webp">
<img [speed]="-3" alt="Ilustracion de fondo" class="bg bg-3"
     ezRellax src="/assets/calculators/graphics/bg/graphics-bg-3.webp">

