#introduction-section{
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
#introduction-section .title{
  font-size: 2rem;
  background-color: #8DB5FF;
}


/*-----------------CARD SECTION----------------------*/
#introduction-section .panel__container{
  height: 150vh;
  max-width: 1080px;
  padding: 5rem;

  position: relative;
}

#introduction-section .panel{
  height: 50rem;

  position: sticky;
  top: 6rem;

  display: flex;
}

#introduction-section .panel__text{
  position:relative;
  flex-grow: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  align-self: center;
  font-size: 2rem;
  text-align: center;
}
#introduction-section .panel__ilustration{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-grow: 1.5;
  flex-basis: 0;
  animation: enter-by-left ease-in-out 1s both;
}

#introduction-section .panel__ilustration .main{
  object-fit: contain;
  object-position: center;
  height: 50%;
  animation: appear-shadow ease both 1s;
}

#introduction-section .panel__ilustration .secondary{
  object-fit: contain;
  object-position: center;
  position: absolute;
  height: 10rem;
  animation: float 2.5s ease infinite both;
}
#introduction-section .panel__ilustration .secondary--first{
  animation-delay: 1s;
  right: 3rem;
  top:7rem;
}
#introduction-section .panel__ilustration .secondary--second{
  animation-delay: 0.7s;
  left: 3rem;
  top: 50%;
}
#introduction-section .panel__ilustration .secondary--third{
  animation-delay: 0.5s;
  right: 3rem;
  bottom: 2rem;
}

@keyframes float {
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-50%);
  }

}

@keyframes appear-shadow {
  0% {
    filter: none;
  }
  50% {
    filter: drop-shadow(30px 25px 0 var(--shadow-color)) drop-shadow(5px 5px 5px #0008);
  }
  100% {
    filter: drop-shadow(10px 10px 0 var(--shadow-color)) drop-shadow(5px 5px 5px #0008);
  }
}


@keyframes enter-by-left {
  from{
    opacity: 0;
    transform: translateX(25%);
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }

}

.main--green{
  --shadow-color:#80FF55;
}
.main--blue{
  --shadow-color: #6655FF;
}
.main--red{
  --shadow-color: #FF6363;
}
/*-----------------CARD SECTION----------------------*/


