:host {
  --btn-padding: 1rem 1.5rem;
  --btn-radius: 1.5rem;
  --btn-bg: initial;
  --btn-fg: initial;
  --btn-direction: row;
  --btn-icon-filter: none;
  --btn-display-icon: initial;
  --btn-display-label: initial;
}

button {
  width: inherit;
  height: inherit;
  padding: var(--btn-padding);
  border-radius: var(--btn-radius);
  background-color: var(--btn-bg);
  color: var(--btn-fg);
  display: flex;
  flex-direction: var(--btn-direction);
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: none;
  text-align: center;
  font-family: var(--small-subtitle-family), sans-serif;
  font-size: var(--small-subtitle-size);
  font-style: var(--small-subtitle-style);
  font-weight: var(--small-subtitle-weight);
  text-transform: uppercase;
  cursor: pointer;
}

img {
  max-height: calc(var(--small-subtitle-size) * 1.5);
  height: 100%;
  object-fit: contain;
  display: var(--btn-display-icon);
  filter: var(--btn-icon-filter);
}

span {
  display: var(--btn-display-label);
}
