:host {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.frac-bar {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  width: 90%;
  height: calc(1em * 0.05);
  /* background-color: var(--inner-line-color); */
  background-color: black;
  transition: background-color var(--highlighting-transition-duration)
    var(--highlighting-transition-easing);
}
math-expression {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  font-size: 0.5em;
}

editable-term-container:not(.partially-invalid, .fully-invalid).selected {
  --outline-color: var(--selection-color);
}

:host:not(.fully-invalid) editable-term-container.partially-invalid {
  --outline-color: var(--partially-invalid-color);
}

:host:not(.fully-invalid) editable-term-container.fully-invalid {
  --outline-color: var(--fully-invalid-color);
}

:host:has(> .selected) {
  --inner-line-color: var(--selection-color);
}
:host:has(> .partially-invalid) {
  --inner-line-color: var(--partially-invalid-color);
}
:host:has(> .fully-invalid) {
  --inner-line-color: var(--fully-invalid-color);
}

:host.partially-invalid {
  --inner-line-color: var(--partially-invalid-color);
  --outline-color: var(--partially-invalid-color);
}

:host.fully-invalid {
  --inner-line-color: var(--fully-invalid-color);
  --outline-color: var(--fully-invalid-color);
}
