:host{
  position: sticky;
  top: 0;
}
nav{
  width: 100%;
}

ul{
  width: 100%;

  display: flex;
  justify-content: space-evenly;
}

li{
  --main: #000;
  --darker:#000;
  --lighter:#000;

  padding: 1.5rem 0;

  display: flex;
  flex-grow: 1;
  justify-content: center;

  background-color: white;

  transition-property: background-color, flex-grow;
  transition:.5s cubic-bezier(0,0,0,1);
}

a{
  color: var(--main);

  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;

  transition: color .5s cubic-bezier(0,0,0,1);
}

li:hover{
  flex-grow: 1.5;

  background-color: var(--main);
  background-image: linear-gradient(90deg, transparent 0%, var(--darker) 100%);
}

li:hover a{
  color: white;
}
