<ng-container *ngFor="let term of terms; let i=index">
  <char
    #charComponent
    *ngIf="term.type=='char'"
    [char]="term.char"
    [inputTerm]="{char:term.char,index:i,charClassRef:charComponent,parent}"
  ></char>
  <frac
    #fractionComponent
    *ngIf="term.type=='fraction'"
    [numeratorChildren]="term.numeratorChildren"
    [denominatorChildren]="term.denominatorChildren"
    [index]="i"
    [inputTerm]="{char:'\\frac',editableElementRef:fractionComponent,index:i,parent}"
    [parent]="parent"
  ></frac>
  <exp
    #exponentComponent
    *ngIf="term.type=='exponent'"
    [inputTerm]="{char:'\\exp',index:i,editableElementRef:exponentComponent,parent}"
    [index]="i"
    [terms]="term.exponentChildren"
    [parent]="parent"
  ></exp>
  <root
    #rootComponent
    *ngIf="term.type=='root'"
    [terms]="term.rootChildren"
    [radicalTerms]="term.radicalTerms"
    [index]="i"
    [parent]="parent"
    [inputTerm]="{char:'\\root',editableElementRef:rootComponent,index:i,parent}"
  ></root>
  <function
    #functionComponent
    *ngIf="term.type=='function'"
    [terms]="term.functionChildren"
    [index]="i"
    [parent]="parent"
    [argumentTerms]="term.argumentTerms"
    [inputTerm]="{char:'\\function',editableElementRef:functionComponent,index:i,parent}"
    [functionName]="term.functionName"
  ></function>
  <parenthesis
    #parenthesisComponent
    *ngIf="term.type=='parenthesis'"
    [terms]="term.parenthesisChildren"
    [index]="i"
    [parent]="parent"
    [inputTerm]="{char:'\\function',editableElementRef:parenthesisComponent,index:i,parent}"
  ></parenthesis>
</ng-container>
