<ng-container *ngFor="let term of terms; let i=index">
  <char
    *ngIf="term.type=='char'"
    inputTerm
    [char]="term.char"
    [index]="i"
    [inputTermValidation]="{term,validatorClass:CharValidator}"
  ></char>
  <frac
    #fractionComponent
    *ngIf="term.type=='fraction'"
    inputTerm
    [term]="term"
    [index]="i"
    [inputTermValidation]="{term,validatorClass:FractionValidator,validationRequester:fractionComponent.validationRequester}"
  ></frac>
  <exp
    #exponentComponent
    *ngIf="term.type=='exponent'"
    inputTerm
    [index]="i"
    [term]="term"
    [inputTermValidation]="{term,validatorClass:ExponentValidator,validationRequester:exponentComponent.validationRequester}"
  ></exp>
  <root
    #rootComponent
    *ngIf="term.type=='root'"
    inputTerm
    [term]="term"
    [index]="i"
    [inputTermValidation]="{term,validatorClass:RootValidator,validationRequester:rootComponent.validationRequester}"
  ></root>
  <function
    #functionComponent
    *ngIf="term.type=='function'"
    inputTerm
    [term]="term"
    [index]="i"
    [inputTermValidation]="{term,validatorClass:getFunctionValidator(term.functionName),validationRequester:functionComponent.validationRequester}"
  ></function>
  <parenthesis
    *ngIf="term.type=='parenthesis'"
    inputTerm
    [term]="term"
    [index]="i"
  ></parenthesis>
</ng-container>
