:host{
  height: 100%;
  display: grid;
  place-items: center;
  width: fit-content;
  position: relative;

  font-size: 1em;
  animation: new-char 0.5s cubic-bezier(0,0,0,1);
  border-radius: 2px;
  transition: background-color 300ms cubic-bezier(0,0,0,1);
}
:host:hover{
  background-color: #0004;
}
:host.invalid{
  --color:#f00;
}
:host.invalid:hover{
  background-color: #faa;
}
:host.partially-invalid{
  --color: #777;
}
pre{
  font-family: "Times New Roman", sans-serif;
  color: var(--color);
}
@keyframes new-char {
  from{
    translate: 0 -10%;
    opacity: 0.3;
  }
}
