<argument
  #rootArgument
  *ngIf="radicalTerms"
  [parent]="this"
  [terms]="radicalTerms"
  [index]="0"
  [inputTerm]="{char:'\\arg\\',index:0,editableElementRef:rootArgument,parent:this}"
>
</argument>
<img #rootSymbol src="/assets/input/root/root-icon.svg" alt="">
<root-main-container
  #rootMainContainer
  [parent]="this"
  [terms]="terms"
  [index]="1"
  [inputTerm]="{char:'\\r-main\\',index:1,editableElementRef:rootMainContainer,parent:this}"
  (termDeleted)="this.inputUtilitiesService.elementDeletedEmitter.emit({elementIndex:index,residualData:[]})"
>
</root-main-container>


