:host{
  font-size: 0.8em;

  position: relative;
  width: fit-content;
  height: 90%;
  display: flex;
  margin-top: 2px;
}

svg{
  height: 100%;
  fill: none;
  stroke: var(--line-color);
  stroke-miterlimit: 10;
  stroke-width: 1em;
  transition: stroke var(--highlighting-transition-duration) var(--highlighting-transition-easing);
}
argument{
  align-self: start;
}

:host editable-term-container{
  transition: border-top-color var(--highlighting-transition-duration) var(--highlighting-transition-easing);
  border-top: 0.1em solid var(--line-color);
}
