<argument
  #rootArgument
  *ngIf="radicalTerms"
  [parent]="this"
  [terms]="radicalTerms"
  [index]="0"
  [inputTerm]="{char:'\\arg\\',index:0,editableElementRef:rootArgument,parent:this}"
  (change)="this.updateValidation()"
>
</argument>
<svg #rootSymbol viewBox="0 0 160.81 517.6">
  <polyline points="2.01 345.32 51.72 323.45 90.28 502.38 152.81 -7.05"/>
</svg>
<editable-term-container
  #rootMainContainer
  [parent]="this"
  [terms]="terms"
  [index]="1"
  [inputTerm]="{char:'\\r-main\\',index: radicalTerms ? 1:0,editableElementRef:rootMainContainer,parent:this}"
  (change)="this.updateValidation()"
>
</editable-term-container>


