:host{
  font-size: 0.8em;

  position: relative;
  width: fit-content;
  height: 90%;
  display: flex;
  margin-top: 2px;
}

svg{
  height: 100%;
  fill: none;
  stroke: var(--inner-line-color);
  stroke-miterlimit: 10;
  stroke-width: 1em;
  transition: stroke var(--highlighting-transition-duration) var(--highlighting-transition-easing);
}
.index-container{
  font-size: 0.5em;
  width: fit-content;
  position: relative;
  height: 1em;
  align-self: start;
}

.radicand-container{
  transition: border-top-color var(--highlighting-transition-duration) var(--highlighting-transition-easing);
  border-top: 0.1em solid var(--inner-line-color);
}

:host:not(.partially-invalid,.fully-invalid):has(>.selected)>*{
  --inner-line-color: var(--selection-color);
}

:host:not(.partially-invalid,.fully-invalid)>.selected{
  --outline-color: var(--selection-color);
}

:host.partially-invalid>*{
  --inner-line-color: var(--partially-invalid-color);
}

:host.partially-invalid,
:host.partially-invalid>.selected {
  --outline-color: var(--partially-invalid-color);
}


:host.fully-invalid>*{
  --inner-line-color: var(--fully-invalid-color);
}

:host.fully-invalid,
:host.fully-invalid>.selected{
  --outline-color: var(--fully-invalid-color);
}
