:host{
  font-size: 0.8em;

  position: relative;
  width: fit-content;
  height: 90%;
  display: flex;
  margin-top: 2px;
}
img{
  height: 100%;
}
argument{
  align-self: start;
}
editable-term-container{
  border-top: calc(1em *0.1) solid #1d1d1b;
}
