a{
  width: 30rem;
  height: 10rem;

  margin: 2rem 0;

  position: relative;

  display: flex;
  align-items: center;
  
  color: black;

  text-decoration: none;
}

figure{
  width: 10rem;
  height: 10rem;

  position: absolute;
  right: 0;
  top: 50%;
  translate: 0 -50%;

  background-color: black;
  background-image: linear-gradient(90deg, #4c4c4c,transparent);
  background-size: contain;
  mask-size: contain;
  mask-repeat: no-repeat;

  transition-property: translate, background-color, background-image;
  transition: var(--in-easing) var(--transition-duration);
}

.text-container{
  width: 20rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;

  transition:width var(--in-easing) var(--transition-duration) ;
}
.title,.description{
  text-align: left;
}
.title{
  width: 20rem;
  font-size: 1.7rem;
}
.description{
  width: 20rem;
  height: 0;

  opacity: 0;

  font-size: 1rem;

  overflow: hidden;

  transition-property: opacity, height;
  transition:var(--in-easing) var(--transition-duration) ;
}
:host:has(:hover, :focus-visible) figure{
  translate: 100% -50%;
  background-color: var(--panel-theme-color);
  background-image: linear-gradient(90deg, transparent,var(--panel-theme-color-darker));
}
:host:has(:hover, :focus-visible) .text-container{
  width: 30rem;
}
:host:has(:hover, :focus-visible) .description{
  height:6rem;

  opacity: 1;
}

