<calculators-topic-section [topicColor]="colorSchema.main">
  <ez-h2>Estadistica</ez-h2>
  <ez-p>Para cualquier tema de estadistica, ¡MathEz te tiene cubierto! Desde estadistica descriptiva con datos
    desordenados hasta conteo de probabilidades en estadistica inferencial.
  </ez-p>
  <img alt="Ilustración de estadistica." src="/assets/calculators/statistics/statistics-illustration.webp">

  <calculators-topic-card>
    <img alt="Agrupador de datos estadísticos" src="/assets/calculators/statistics/icons/data-grouping.webp">
    <ez-h4>Agrupador de datos</ez-h4>
    <ez-p>Agrupa y ordena datos en desorden y calcula medidas estadísticas en base a estos.</ez-p>
  </calculators-topic-card>

  <calculators-topic-card>
    <img alt="Calculadora de probabilidad" src="/assets/calculators/statistics/icons/probability.webp">
    <ez-h4>Conteo de probabilidades</ez-h4>
    <ez-p>Calcula la probabilidad de que un evento ocurra siguiendo los enfoques a priori y a posteriori.</ez-p>
  </calculators-topic-card>

  <calculators-topic-card>
    <img alt="Calculadora de combinaciones y permutaciones"
         src="/assets/calculators/statistics/icons/combinations.webp">
    <ez-h4>Conteo de combinaciones</ez-h4>
    <ez-p>Obtén las combinaciones o permutaciones entre uno o más conjuntos de elementos.</ez-p>
  </calculators-topic-card>

</calculators-topic-section>
<img [speed]="-1" alt="Ilustracion de fondo" class="bg bg-1"
     ezRellax src="/assets/calculators/statistics/bg/statistics-bg-1.webp">
<img [speed]="-2" alt="Ilustracion de fondo" class="bg bg-2"
     ezRellax src="/assets/calculators/statistics/bg/statistics-bg-2.webp">
<img [speed]="-3" alt="Ilustracion de fondo" class="bg bg-3"
     ezRellax src="/assets/calculators/statistics/bg/statistics-bg-3.webp">
