<div #form_container class="form-container">
  <h2>Iniciar sesion</h2>
  <form>
    <label>
      Usuario:
      <input type="text">
      <span class="input-edger"></span>
    </label>
    <label>
      Contraseña:
      <input type="password">
      <span class="input-edger"></span>
    </label>
    <button class="log-in-btn">Iniciar sesion</button>
  </form>
  <button>Iniciar sesion con google</button>
  <button>Registrarse en MathEz</button>
</div>
<p #paragraph>
  ¡Inicia sesión con tu cuenta o regístrate ahora para usar todas las funciones que ofrece MathEz!
</p>
