<section id="login-section">
    <div #form_container class="form-container out">
    <h2>Iniciar sesion</h2>
    <form id="login-form">
      <label>
        Usuario:
        <input type="text" (focus)="onFocus()">
        <span class="input-edger"></span>
      </label>
      <label>
        Contraseña:
        <input type="password" (focus)="onFocus()">
        <span class="input-edger"></span>
      </label>
      <button class="log-in-btn" (focus)="onFocus()">Iniciar sesion</button>
    </form>
    <button id="google-login-btn" class="google-log-in-btn" (focus)="onFocus()">
      Iniciar sesion con
      <span style="--f-color:#4988f4">G</span>
      <span style="--f-color: #ea493a">o</span>
      <span style="--f-color: #fabf0d">o</span>
      <span style="--f-color: #4988f4">g</span>
      <span style="--f-color: #3bab59">l</span>
      <span style="--f-color: #ea493a">e</span>
    </button>
    <button id="register-btn" class="math-ez-register-brn" (focus)="onFocus()">Registrarse en <span style="--f-color: #0035e0">MathEz</span></button>
  </div>
  <p #paragraph class="out">
    ¡Inicia sesión con tu cuenta o regístrate ahora para usar todas las funciones que ofrece MathEz!
  </p>
</section>
