<section>
    <div #form_container class="form-container">
    <h2>Iniciar sesion</h2>
    <form>
      <label>
        Usuario:
        <input type="text" (focus)="onFocus()">
        <span class="input-edger"></span>
      </label>
      <label>
        Contraseña:
        <input type="password" (focus)="onFocus()">
        <span class="input-edger"></span>
      </label>
      <button class="log-in-btn" (focus)="onFocus()">Iniciar sesion</button>
    </form>
    <button (focus)="onFocus()">Iniciar sesion con google</button>
    <button (focus)="onFocus()">Registrarse en MathEz</button>
  </div>
  <p #paragraph>
    ¡Inicia sesión con tu cuenta o regístrate ahora para usar todas las funciones que ofrece MathEz!
  </p>
</section>
