:host{
  height: var(--height);

  position: relative;

  display: flex;
  align-self: start;
}
.element-container:not(:has(*)){
  border: 1px dashed gray;
}
.element-container{
  min-width: 1ch;
  display: flex;
  position: relative;
}
