:host{
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  align-self: center;
}
span{
  position: relative;
  font-family: "Times New Roman";
  font-size: 1em;
  color: var(--line-color);
  transition: color var(--highlighting-transition-duration) var(--highlighting-transition-easing);
}
argument{
  align-self: end;
}
editable-term-container{
  font-size: 0.8em;
}
