<span #functionNameLabel>{{functionName}}</span>
<argument
  #functionBaseComponent
  *ngIf="baseTerms"
  [parent]="this"
  [terms]="baseTerms"
  [index]="0"
  [inputTerm]="{char:'\\arg\\',index:0,editableElementRef:functionBaseComponent,parent:this}"
  (change)="this.updateValidation()"
></argument>
<span>(</span>
<editable-term-container
  #functionArgumentContainer
  [index]="baseTerms ? 1:0"
  [terms]="terms"
  [parent]="this"
  [inputTerm]="{char:'\\f-main\\',index:baseTerms? 1:0,editableElementRef:functionArgumentContainer,parent:this}"
  (change)="this.updateValidation()"
></editable-term-container>
<span>)</span>
