<calculators-topic-section [topicColor]="colorSchema.main">
  <ez-h2>Matematicas discretas</ez-h2>
  <ez-p>
    Dentro de las matemáticas discretas MathEz no te dejara solo. Encuentra calculadoras para cualquier tema que se
    te ofrezca, desde construir tablas de verdad hasta realizar conversiones entre sistemas numéricos, ¡MathEz te tiene
    cubierto!
  </ez-p>
  <img alt="Ilustración de matematicas discretas."
       src="/assets/calculators/discrete-math/discrete-math-illustration.webp">

  <calculators-topic-card>
    <img alt="Calculadora de tablas de verdad"
         src="/assets/calculators/discrete-math/icons/truth-tables.webp">
    <ez-h4>Tablas de verdad</ez-h4>
    <ez-p>Construye tablas de verdad a partir de una proposición lógica compuesta.</ez-p>
  </calculators-topic-card>

  <calculators-topic-card>
    <img alt="Intérprete gráfico de grafos"
         src="/assets/calculators/discrete-math/icons/graph-interpreter.webp">
    <ez-h4>Intérprete gráfico de grafos</ez-h4>
    <ez-p>Crea mapas de nodos gráficamente junto con sus matrices correspondientes.</ez-p>
  </calculators-topic-card>

  <calculators-topic-card>
    <img alt="Calculadora de sistemas numéricos"
         src="/assets/calculators/discrete-math/icons/number-systems.webp">
    <ez-h4>Sistemas numéricos</ez-h4>
    <ez-p>Realiza conversiones entre sistemas numéricos de cualquier base.</ez-p>
  </calculators-topic-card>
</calculators-topic-section>

<img [speed]="-2" alt="Ilustracion de fondo" class="bg bg-2" ezRellax
     src="/assets/calculators/discrete-math/bg/discrete-math-bg-2.webp">
<img [speed]="-1" alt="Ilustracion de fondo" class="bg bg-1" ezRellax
     src="/assets/calculators/discrete-math/bg/discrete-math-bg-3.webp">
<img [speed]="-3" alt="Ilustracion de fondo" class="bg bg-3" ezRellax
     src="/assets/calculators/discrete-math/bg/discrete-math-bg-1.webp">
