<nav>
  <ul>
    <li #sectionBtn class="home" [style]="colors.home"><a href="#">Home</a></li>
    <li #sectionBtn class="lineal-algebra" [style]="colors.algebra"><a href="#">Algebra Lineal</a></li>
    <li #sectionBtn class="calculus" [style]="colors.calculus"><a href="#">Calculo</a></li>
    <li #sectionBtn class="logic" [style]="colors.logic"><a href="#">Logica</a></li>
    <li #sectionBtn class="graphics" [style]="colors.graphics"><a href="#">Graficas</a></li>
    <li #sectionBtn class="measures" [style]="colors.measures"><a href="#">Medidas</a></li>
    <li #sectionBtn class="statistics" [style]="colors.statistics"><a href="">Estadistica</a></li>
  </ul>
</nav>
