:host{
  width: 100%;
  height: 3rem;

  position: sticky;
  top: 0;
  z-index: 30;

  display: block;
  transition: translate var(--transition-duration) var(--in-easing);
}
:host.out{
  translate: 0 -120%;
}

nav{
  height: 100%;
  width: 100%;

  position: relative;

  box-shadow: 5px 5px 10px #0002;

  transition: translate var(--in-easing) var(--small-transition-duration);
  transition-delay: 1s;
}

a{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--main);

  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;

  cursor: pointer;

  transition: color .5s var(--in-easing);
  text-wrap: nowrap;
}

.nav-ul{
  width: 100%;
  height: 100%;

  position: relative;

  display: flex;
  justify-content: space-evenly;
}

.nav-section{
  --flex-grow:1;

  position: relative;

  display: flex;
  place-items: center;
  flex-grow: var(--flex-grow);
}

.nav-start{
  --flex-grow: 1;
}
.nav-intro{
  --flex-grow: 3;
}
.nav-tools{
  --flex-grow: 6;
}
.nav-join{
  --flex-grow: 1;
}

.nav-section-title{
  position: relative;
  z-index: 20;

  flex-grow: 1;
  flex-basis: 0;

  background-color: white;
}

.nav-sub-section{
  width: 100%;

  position: absolute;
  top: 100%;
  translate: 0 -100%;
  z-index: 10;

  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  border-radius: 0 0 10px 10px;

  overflow: hidden;

  transition-property: translate, flex-grow, opacity, filter;
  transition: var(--small-transition-duration) 0.15s var(--in-easing);
}

.nav-sub-section li{
  padding: 0.5rem;

  position: relative;

  display: flex;
  place-content: center;
  flex-basis: 0;
  flex-grow: 1;

  background-color: white;
}

.nav-section,.nav-section-title,.nav-sub-section li{
  transition-property: background-color, flex-grow, background-image;
  transition:var(--small-transition-duration) var(--in-easing);
}


.nav-section:has(:focus-visible),
.nav-section:hover{
  flex-grow: calc(var(--flex-grow) *1.5);
}

.nav-section:hover .nav-sub-section,
.nav-section:has(:focus-visible) .nav-sub-section{
  translate: 0 0;
  opacity: 1;
  filter: drop-shadow(5px 5px 10px #0002);

}

.nav-sub-section li:hover, .nav-sub-section li:has(:focus-visible){
  flex-grow: 2;
}

.nav-sub-section li:hover>a, .nav-section:hover>a,
.nav-sub-section li:has(:focus-visible)>a, .nav-section:has(:focus-visible)>a{
  color: white;
}

.nav-start:hover,.nav-sub-section li:hover,.nav-section:hover .nav-section-title,
.nav-start:has(:focus-visible),.nav-sub-section li:has(:focus-visible),.nav-section:has(:focus-visible) .nav-section-title{
  background-color: var(--main);
  background-image: linear-gradient(90deg, transparent, var(--darker));
}

.nav-start:hover a,
.nav-start:has(:focus-visible) a{
  color: white;
}

.progress-bar{
  height: 2px;

  position: relative;
  bottom: 0;
  translate: 0 100%;

  display: block;
  background-color: var(--main);

  transition-property: background-color, width;
  transition: var(--transition-duration) var(--in-easing);
}
