:host{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 5rem;
}

nav{
  height: 100%;
  width: 100%;
  position: relative;

  translate: 0 -100% ;
  transition: translate var(--in-easing) var(--small-transition-duration);
  transition-delay: 1s;
  box-shadow: 5px 5px 10px #0002;
}
:host:hover nav{
  translate: 0 0;
  transition-delay: 0s;
}

.nav-ul{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}

.nav-section{
  /*padding: 1.5rem 0;*/
  display: flex;
  flex-direction: column;
  /*justify-content: center;*/
  align-content: center;
  flex-grow: 1;

  background-color: white;
}
.nav-section,.nav-sub-section li{
  transition-property: background-color, flex-grow, background-image;
  transition:var(--small-transition-duration) var(--in-easing);
}



a{
  color: var(--main);
  text-align: center;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: color .5s cubic-bezier(0,0,0,1);
  text-wrap: nowrap;
}


.nav-section-title{
  flex-grow: 1;
  flex-basis: 0;
}


.nav-sub-section{
  /*width: 0;*/
  display: flex;
  justify-content: space-evenly;
  flex-grow: 0;
  flex-basis: 0;
  height: 0;
  overflow: hidden;

  transition-property: height, flex-grow;
  transition:var(--small-transition-duration) var(--in-easing);
}

.nav-section:hover{
  flex-grow: 1.5;
}
.nav-section:hover .nav-sub-section{
  flex-grow: 1;
  /*height: initial;*/

}

.nav-sub-section li{
  flex-basis: 0;
  flex-grow: 1;
  display: flex;
  place-content: center;
}
.nav-sub-section li:hover{
  background-color: var(--main);
  background-image: linear-gradient(90deg, transparent, var(--darker));
  flex-grow: 1.5;
}
.nav-sub-section li:hover a{
  color: white;
}

.nav-start:hover{
  background-color: var(--main);
  background-image: linear-gradient(90deg, transparent, var(--darker));
}
.nav-start:hover a{
  color: white;
}

.nav-section{
  --main: #0090e9;
  --darker: #0042e9;
}



.progress-bar{
  bottom: 0;
  position: relative;
  translate: 0 100%;
  display: block;
  height: 2px;
  /*width: 100%;*/
  background-color: red;

  transition: width var(--transition-duration) var(--in-easing);
}

