:host{
  height: 200vh;
  max-width: 1080px;

  position: relative;
  display: block;
}

section{
  height: fit-content;

  padding: 2rem;

  position: sticky;
  top: 12rem;
}

.text-container,figure,nav{
  --easing: var(--in-easing);
  transition: translate var(--transition-duration) var(--easing), opacity var(--transition-duration) var(--in-easing);
}
.text-container.out,
figure.out,
nav.out{
  --easing: var(--out-easing);
  opacity: 0;
}

.text-container{
  width: 60rem;

  padding: 5rem;

  position: fixed;
  top: 0;
  left: 0;

  opacity: 1;
}
.text-container.out{
  translate: -100% 0;
}

figure{
  width: 30rem;
  height: 30rem;

  position: fixed;
  top: 5rem;
  right: 5rem;

  background-image: linear-gradient(90deg, var(--panel-theme-color),var(--panel-theme-color-darker) );
  background-size: contain;

  mask-size: contain;
  mask-repeat:no-repeat;

}
figure.out{
  translate: 200% 0;
}

.title {
  font-size: 2.5rem;
}
.description{
  font-size: 1.8rem;
}

nav{
  padding: 5rem;

  position: fixed;
  bottom: 0;
  left: 0;

  opacity: 1;
}
nav.out{
  translate: -120% 0;
}
:host#panel--algebra {
  --panel-theme-color: #FF9334;
  --panel-theme-color-darker: #d76500;
  --panel-theme-color-lighter: #ffad66;
}

:host#panel--calculus {
  --panel-theme-color: #FF3434;
  --panel-theme-color-darker: #d70000;
  --panel-theme-color-lighter: #ff6b6b;
}

:host#panel--logic {
  --panel-theme-color: #34FF3A;
  --panel-theme-color-darker: #00d706;
  --panel-theme-color-lighter: #6eff73;
}

:host#panel--graphics {
  --panel-theme-color: #34D6FF;
  --panel-theme-color-darker: #00abd7;
  --panel-theme-color-lighter: #6fdcff;
}

:host#panel--measures {
  --panel-theme-color: #3466FF;
  --panel-theme-color-darker: #0035d7;
  --panel-theme-color-lighter: #6f8bff;
}

:host#panel--statistics {
  --panel-theme-color: #9747FF;
  --panel-theme-color-darker: #6300e4;
  --panel-theme-color-lighter: #b36cff;
}

