:host{
  max-width: 1080px;
  height: 200vh;
  position: relative;
  display: block;
}

section{
  height: fit-content;
  padding: 2rem;
  position: sticky;
  top: 12rem;
}
.text-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 60rem;
  /*height:40rem;*/
  padding: 5rem;
  transition: translate var(--transition-duration) var(--in-easing);
  display: grid;
  grid-template: .5fr 1fr/2fr 1fr;
}
.text-container.out{
  translate: -100% 0;
}

figure{
  width: 10rem;
  height: 10rem;

  background-image: linear-gradient(90deg, var(--panel-theme-color),var(--panel-theme-color-darker) );
  background-size: contain;
  mask-size: contain;
  mask-repeat:no-repeat;
  grid-row: span 2;
  place-self: center;
  object-fit: contain;

  filter: drop-shadow(0.3rem 0.3rem 0 var(--panel-theme-color));
}
video{
  position: fixed;
  top: 0;
  right: 0;
  height: 36rem;
  z-index: -100;
  opacity: 0.5;
  transition: opacity var(--transition-duration) var(--in-easing);
}
video:hover{
  opacity: 1;
}
video.out{
  opacity: 0;
}

/*.title,.description{*/
/*  text-align: center;*/
/*}*/
.title {
  font-size: 2.5rem;
  grid-row: 1;
  grid-column: 1;
}
.description{
  font-size: 1.8rem;
  grid-row: 2;
  grid-column: 1;
  /*font-family: "Times New Roman", sans-serif;*/
}

nav{
  --easing:var(--in-easing);
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 1;
  padding: 5rem;
  transition: translate var(--transition-duration) 0.3s var(--easing), opacity var(--transition-duration) var(--in-easing);
}
nav.out{
  opacity: 0;
  translate: -120% 0;
  --easing: var(--out-easing);
}
:host#panel--algebra {
  --panel-theme-color: #FF9334;
  --panel-theme-color-darker: #d76500;
  --panel-theme-color-lighter: #ffad66;
}

:host#panel--calculus {
  --panel-theme-color: #FF3434;
  --panel-theme-color-darker: #d70000;
  --panel-theme-color-lighter: #ff6b6b;
}

:host#panel--logic {
  --panel-theme-color: #34FF3A;
  --panel-theme-color-darker: #00d706;
  --panel-theme-color-lighter: #6eff73;
}

:host#panel--graphics {
  --panel-theme-color: #34D6FF;
  --panel-theme-color-darker: #00abd7;
  --panel-theme-color-lighter: #6fdcff;
}

:host#panel--measures {
  --panel-theme-color: #3466FF;
  --panel-theme-color-darker: #0035d7;
  --panel-theme-color-lighter: #6f8bff;
}

:host#panel--statistics {
  --panel-theme-color: #9747FF;
  --panel-theme-color-darker: #6300e4;
  --panel-theme-color-lighter: #b36cff;
}

