<section>
  <img [src]="iconSrc" alt="">
  <div class="title">
    <ng-content select="h3"></ng-content>
  </div>
  <div class="description">
    <ng-content select="p"></ng-content>
  </div>
  <nav>
    <ng-content select="ul"></ng-content>
<!--    <ul class="panel__feature__list">-->
<!--      <li>-->
<!--        -->
<!--        <a href="#" class="panel__feature">-->
<!--          <img src="/assets/home/tool-section/algebra/matrix-icon.png" alt="">-->
<!--          <h4>Calculadora de matrices</h4>-->
<!--          <p>Una calculadora que te permitira realizar una gran variedad de operaciones basicas usando matrices, tales como suma, multiplicacion, determinantes e inversas, entre otras funciones mas.</p>-->
<!--        </a>-->
<!--      </li>-->
<!--      <li>-->
<!--        <a class="panel__feature">-->
<!--          <img src="/assets/home/tool-section/algebra/ecuation-system-icon.png" alt="">-->
<!--          <h4>Calculadora de sistemas de ecuaciones lineales</h4>-->
<!--          <p>Con esta calculadora podrás obtener soluciones para sistemas de ecuaciones lineales, sea cual sea el numero de incógnitas que este tenga.</p>-->
<!--        </a>-->
<!--      </li>-->
<!--    </ul>-->

  </nav>
</section>

