:host{
  max-width: 1080px;
  height: 150vh;
  position: relative;
  display: block;
}

section{
  height: fit-content;
  padding: 2rem;
  position: sticky;
  top: 12rem;

  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr auto auto;

  gap: 2rem;

}
img{
  width: 100%;

  grid-row: span 3;
  object-fit: contain;

  filter: drop-shadow(1rem 1rem 0 var(--panel-theme-color));
}


.title,.description{
  text-align: center;
}
.title {
  font-size: 2.5rem;
}
.description{
  font-size: 2rem;
  font-family: "Times New Roman", sans-serif;
}

.panel__feature__list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

}

:host#panel--algebra{
  --panel-theme-color:#F4A04D;
}
:host#panel--calculus{
  --panel-theme-color: #f44d4d;
}
:host#panel--logic{
  --panel-theme-color: #4df450;
}

:host#panel--graphics{
  --panel-theme-color: #4ddbf4;
}
:host#panel--measures{
  --panel-theme-color: #4d7cf4;
}
:host#panel--stadistics{
  --panel-theme-color: #8a4df4;
}
