:host {
  position: relative;
  z-index: 0;
}

header {
  display: flex;
  width: 100%;
  height: var(--header-height);
  justify-content: space-between;
  align-items: start;
  position: relative;
}

.logo-container {
  height: 80%;
  flex: 1 1 20rem;
}

.logo-container svg {
  width: 100%;
  height: 100%;
}

.logo-container svg * {
  fill: var(--col-white);
}

ul {
  height: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 2 0 auto;
}

ul li ez-button {
  --btn-radius: 1rem;
  --btn-padding: 1rem 1rem;
  --btn-fg: var(--col-white);
  --btn-display-icon: none;
}

ul li.active-link ez-button {
  --btn-bg: var(--col-white);
  --btn-fg: var(--col-black);
  --btn-radius: 1.5rem;
  --btn-display-icon: initial;
  --btn-icon-filter: invert(1);
}

.bg-container {
  position: absolute;
  z-index: -10;
  top: 0;
  width: 100%;
  height: 100%;
}

.background {
  width: 100%;
  height: 100%;
}

.background .layer path:not(.step-1) {
  visibility: hidden;
}

.background .layer path {
  animation: top-to-bottom 5s infinite ease-in-out;
}

.background .layer-1 path {
  fill: var(--col-main);
}

.background .layer-2 path {
  fill: var(--col-main-d1);
  animation-delay: 0.2s;
}

.background .layer-3 path {
  fill: var(--col-main-d2);
  animation-delay: 0.4s;
}

.background .layer-4 path {
  fill: var(--col-main-d3);
  animation-delay: 0.6s;
}

@keyframes top-to-bottom {
  0%, 100% {
    translate: 0 0;
  }
  50% {
    translate: 0 -10%;
  }
}

@media (max-width: 1000px) {

  ul li ez-button {
    --btn-display-label: none;
    --btn-display-icon: initial;
  }

}

@media (max-width: 600px) {
  ul{
    flex: 3 0 auto;
  }

  ul li ez-button {
    width: 4rem;
    height: 4rem;
    --btn-padding: 0.7rem;
    --btn-display-label: none;
    --btn-display-icon: initial;
  }

  .logo-container {
    flex: 1 1 10rem;
  }
}
