<calculators-topic-section [topicColor]="colorSchema.main">
  <ez-h2>Medidas</ez-h2>
  <ez-p>
    Los conversores de MathEz son una categoría especial que abarca las conversiones entre sistemas de medición. Ya sea
    que hables en metros, pies, galones, kilos o incluso tazas de cambio diferentes, MathEz te tiene cubierto para todo
    caso!.
  </ez-p>
  <img alt="Ilustración de medidas."
       src="/assets/calculators/measures/measures-illustration.webp">
  <calculators-topic-card>
    <img alt="Calculadora de conversión de longitudes"
         src="/assets/calculators/measures/icons/length-converter.webp">
    <ez-h4>Longitudes</ez-h4>
    <ez-p>Convierte con facilidad de pies a metros, pulgadas a centímetros y más.</ez-p>
  </calculators-topic-card>

  <calculators-topic-card>
    <img alt="Calculadora de conversión de pesos"
         src="/assets/calculators/measures/icons/weight-converter.webp">
    <ez-h4>Pesos</ez-h4>
    <ez-p>Pasa medidas entre sistemas de peso sin problema alguno de manera rápida.</ez-p>
  </calculators-topic-card>

  <calculators-topic-card>
    <img alt="Calculadora de conversión de volúmenes"
         src="/assets/calculators/measures/icons/volume-converter.webp">
    <ez-h4>Volúmenes</ez-h4>
    <ez-p>Cambia entre galones y litros u onzas y mililitros de manera fácil y sencilla.</ez-p>
  </calculators-topic-card>

  <calculators-topic-card>
    <img alt="Calculadora de tasas de cambio"
         src="/assets/calculators/measures/icons/rate-converter.webp">
    <ez-h4>Tasas de cambio</ez-h4>
    <ez-p>Realiza conversiones entre medidas de tasas de cambio en cuestión de segundos.</ez-p>
  </calculators-topic-card>
</calculators-topic-section>

<img [speed]="-1" alt="Ilustracion de fondo" class="bg bg-1"
     ezRellax src="/assets/calculators/measures/bg/measures-bg-1.webp">
<img [speed]="-2" alt="Ilustracion de fondo" class="bg bg-2"
     ezRellax src="/assets/calculators/measures/bg/measures-bg-2.webp">
<img [speed]="-3" alt="Ilustracion de fondo" class="bg bg-3"
     ezRellax src="/assets/calculators/measures/bg/measures-bg-3.webp">
