:host{
  display: grid;
  place-items: center;
  width: fit-content;
  height: 100%;
  font-size: var(--font-size);
  outline: 1px solid #4449;
  animation: new-char 0.5s ease;
}
:host:hover{
  background-color: #0004;
}
pre{
  font-family: "Times New Roman", sans-serif;
}
@keyframes new-char {
  from{
    background-color: #f004;
  }
  to{
    background-color: transparent;
  }
}
