<section class="panel">
  <div class="panel__text">
    <ng-content></ng-content>
  </div>
  <figure class="panel__ilustration to_animate">
    <img [ngClass]="'main--'+colorClass" class="main to_animate" [src]="'/assets/home/introduction-section/section-'+sectionNumber+'/main.png'" alt="">
    <img class="secondary secondary--first" [src]="'/assets/home/introduction-section/section-'+sectionNumber+'/secondary--first.png'" alt="">
    <img class="secondary secondary--second" [src]="'/assets/home/introduction-section/section-'+sectionNumber+'/secondary--second.png'" alt="">
    <img class="secondary secondary--third" [src]="'/assets/home/introduction-section/section-'+sectionNumber+'/secondary--third.png'" alt="">
  </figure>
</section>

