:host{
  height: 300vh;
  max-width: 1080px;
  padding: 5rem;

  position: relative;
}

.panel{
  height: 50rem;

  position: sticky;
  top: 6rem;

  display: flex;
}

.panel__text{
  width: 30%;

  position: fixed;
  bottom: 10%;
  left: 20%;

  display: flex;
  flex-direction: column;
  justify-content: center;

  opacity: 1;

  font-size: 2rem;
  text-align: center;

  translate: -50% -50%;

  transition-property: opacity, translate;
  transition: 0.5s cubic-bezier(0,0,0,1);
}
.panel__text.out{
  translate: -100% -50%;
  opacity: 0;
}

.panel__illustration{
  width: 50%;
  height: 80%;

  position: fixed;
  top: 50%;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  translate: 0 -50%;

  transition: translate .5s cubic-bezier(0,0,0,1);
}

.panel__illustration.out{
  translate: 100% -50%;
}

.main{
  object-fit: contain;
  object-position: center;
  height: 50%;
  width: 50%;
  filter: drop-shadow(10px 10px 0 var(--shadow-color)) drop-shadow(5px 5px 5px #0008);
}

.secondary{
  object-fit: contain;
  object-position: center;
  position: absolute;
  height: 10rem;
  animation: float 2.5s ease infinite both;
}

.secondary--first{
  animation-delay: 1s;
  right: 3rem;
  top:7rem;
}

.secondary--second{
  animation-delay: 0.7s;
  left: 3rem;
  top: 50%;
}
.secondary--third{
  animation-delay: 0.5s;
  right: 3rem;
  bottom: 2rem;
}

@keyframes float {
  0%,100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-50%);
  }
}
.main--green{
  --shadow-color:#80FF55;
}
.main--blue{
  --shadow-color: #6655FF;
}
.main--red{
  --shadow-color: #FF6363;
}
