section {
  height: calc(100vh - var(--header-height));
  position: relative;
}

.content {
  display: flex;
  width: 35rem;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  position: absolute;
  top: 40%;
  left: 50%;
  translate: -50% -50%;
  text-align: center;
}

img {
  width: 35rem;
  height: auto;
  position: absolute;
  animation: slide-in var(--long-trans-duration) var(--trans-easing) both;
}

.abacus {
  left: 2rem;
  top: 2rem;
}

.calculator {
  right: 2rem;
  bottom: 2rem;
  animation-delay: 0.5s;
}

@keyframes slide-in {
  from {
    opacity: 0;
    translate: 0 50%;
  }
  to {
    opacity: 1;
    translate: 0 0;
  }

}

