<section>
  <div class="content">

    <ez-h1>Calculadoras para cualquier tema</ez-h1>
    <ez-p>
      Encuentra las calculadoras que siempre necesitaste. Desde algebra lineal hasta estadistica, explora todas las
      calculadoras que Mathez tiene para ofrecerte.
    </ez-p>
  </div>

  <img [speed]="-2" alt="Abaco" class="abacus" ezRellax src="/assets/calculators/abacus.webp">
  <img [speed]="-3" alt="Calculadora" class="calculator" ezRellax src="/assets/calculators/calculator.webp">
</section>
