:host{
  width: fit-content;
  height: 90%;
  display: flex;
  margin-top: 2px;
  --line-height:calc(var(--font-size)  *0.05);
}
img{
  height: 100%;
}
.element-container{
  position: relative;
  display: flex;
  border-top: var(--line-height) solid #1d1d1b;
  min-width:2ch;
  height: 100%;
}

.element-container:not(:has(*)){
  border: dashed var(--line-height) gray;
  border-top: var(--line-height) solid #1d1d1b;
}
