<div class="main-overlay" #overlay>
  <editable-term-container
    [index]="0"
    [parent]="undefined"
    [terms]="terms"
  ></editable-term-container>
  <div class="caret-overlay">
    <div
      id="caret-container"
      [ngStyle]="caretStyleData"
    >
      <span></span>
    </div>
  </div>
</div>

<div
  *ngIf="showingWarning"
  [@warning-animations]
  [ngStyle]="warningStyleData"
  class="warning-container">
  <span
    *ngFor="let warning of warningMessages"
    [ngClass]="warning.type"
    class="warning-message"
  >
    {{warning.message}}
  </span>
</div>
<span
  [@advice-fading]
  class="insert-something-advice"
  *ngIf="terms.length==0"
>
  Inserta una operacion
</span>
