<ng-container *ngFor="let term of terms; let i=index">
  <char
    *ngIf="term.type=='char'"
    [char]="term.char"
    [inputTerm]="{char:term.char,index:i}"
  ></char>
  <frac
    #fractionComponent
    *ngIf="term.type=='fraction'"
    [numeratorChildren]="term.numeratorChildren"
    [denominatorChildren]="term.denominatorChildren"
    [index]="i"
    [inputTerm]="{char:'/',classRef:fractionComponent,index:i}"
    [parent]="this"
  ></frac>
<!--  <div-->
<!--    class="frac"-->
<!--    *ngIf="term.type=='fraction'"-->

<!--  >-->
<!--    <frac-numerator-->
<!--      #fracNumerator-->
<!--      [parent]="this"-->
<!--      [index]="i"-->
<!--      [terms]="term.numeratorChildren"-->
<!--      [inputTerm]="{char:'/',index:i,classRef:fracNumerator}"-->
<!--    ></frac-numerator>-->
<!--    <div class="frac-bar"></div>-->
<!--    <frac-denominator-->
<!--      #fracDenominator-->
<!--      [parent]="this"-->
<!--      [index]="i+1"-->
<!--      [terms]="term.denominatorChildren"-->
<!--      [inputTerm]="{char:'/',index:i+1,classRef:fracDenominator}"-->
<!--    ></frac-denominator>-->
<!--  </div>-->

</ng-container>
<div
  #caret
  id="caret-container"
  [style.left]="caretPosition"
>
  <span></span>
</div>

