:host{
  --height: 5rem;

  width: 40rem;
  height: var(--height);
  outline: #4c4c4c 1px solid;
  border-radius: 10px;
  display: flex;
  position: relative;
}
:host:focus-visible,
:host:focus{
  outline: 2px solid black;
}

#caret-container{
  height: var(--height);

  position: absolute;

  transition-property: height,left;
  transition: 0.1s ease;
}
#caret-container span{
  width: 3px;
  height: 0;

  position: absolute;
  top: 50%;
  translate: 0 -50%;

  display: block;
  background-color: black;
}
:host:focus #caret-container span{
  height: calc(var(--height) * 0.9);
  animation: blink 1s infinite;
}


.frac{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.frac-bar{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  width: 90%;
  height: 1px;
  background-color: black;
}




@keyframes blink {
  50%{
    height: 0;
  }
}

