<ng-container *ngFor="let term of terms; let i=index">
  <char
    *ngIf="term.type=='char'"
    [char]="term.char"
    [inputTerm]="{char:term.char,index:i}"
  ></char>
  <div
    class="frac"
    *ngIf="term.type=='fraction'"
  >
    <frac-numerator
      #fracNumerator
      [parent]="this"
      [index]="i"
      [terms]="term.numeratorChildren"
      [inputTerm]="{char:'/',index:i,classRef:fracNumerator}"
    ></frac-numerator>
    <div class="frac-bar"></div>
    <frac-denominator
      #fracDenominator
      [parent]="this"
      [index]="i"
      [terms]="term.denominatorChildren"
      [inputTerm]="{char:'/',index:i,classRef:fracDenominator}"
    ></frac-denominator>
  </div>

</ng-container>
<span
  #caret
  id="caret"
  [style.left]="caretPosition"
></span>

