.register{
  height: 100vh;
  position: relative;
}
.register .content-container{
  position: absolute;
  top: 20%;
  left: 50%;
  translate: -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.register .content-container .text-container{
  max-width: 35rem;
}

.register .content-container .text-container h3{
  color: var(--col-black);
  text-align: center;
  font-family: var(--big-subtitle-family), sans-serif;
  font-size: var(--big-subtitle-size);
  font-style: var(--big-subtitle-style);
  font-weight: var(--big-subtitle-weight);
}

.register .content-container .text-container p{
  color: var(--col-black);
  text-align: center;
  font-family: var(--text-family), sans-serif;
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  line-height: var(--text-line-height);
}

.register .content-container .btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.register .content-container .btn-container button{
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  border: none;
  text-align: center;
  font-family: var(--small-subtitle-family), sans-serif;
  font-size: var(--small-subtitle-size);
  font-style: var(--small-subtitle-style);
  font-weight: var(--small-subtitle-weight);
  text-transform: uppercase;
}

.register .content-container .btn-container button.create-account{
  color: var(--col-white);
  background-color: var(--col-main-l1);
}
.register .content-container .btn-container button.log-in{
  color: var(--col-black);
  background-color: var(--col-main-l2);
}

.register .bottom-blob{
  position: sticky;
  top: calc(100vh - 15rem);
  width: 100%;
  height: 15rem;
}

.register .bottom-blob .layer{
  translate: 0 100%;
  transition-duration: var(--long-trans-duration);
  transition-timing-function: var(--trans-easing-out);
  transition-property: translate;
}
.register .bottom-blob .layer path{
  animation-name: bottom-to-top;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.register .bottom-blob .layer-1 path{
  fill: var(--col-main-d1);
}

.register .bottom-blob .layer-2 path{
  fill: var(--col-main);
  animation-delay: 0.2s;
}

.register .bottom-blob .layer-3 path{
  fill: var(--col-main-l1);
  animation-delay: 0.4s;
}

.register .bottom-images{
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  z-index: -10;
}

.register .bottom-images img{
  max-width: 30vw;
  max-height: 25vw;
  translate: 0 100%;
  transition-duration: var(--long-trans-duration);
  transition-timing-function: var(--trans-easing-out);
  transition-property: translate;
}

.register.intersecting .bottom-blob .layer,
.register.footer-intersecting .bottom-blob .layer{
  translate: 0 0;
}

.register.intersecting .bottom-blob .layer-2{
  transition-delay: 0.1s;
}

.register.intersecting .bottom-blob .layer-3{
  transition-delay: 0.2s;
}

.register.intersecting .bottom-images img{
  translate: 0 0;
}

@keyframes bottom-to-top {
  0%,100%{
    translate: 0 0;
  }
  50%{
    translate: 0 10%;
  }
}

app-particles {
  position: relative;
  z-index: -10;
}
