<main>
  <home-introduction></home-introduction>
  <home-topics></home-topics>
  <section class="register" #registerSection>
    <div class="content-container">
      <div class="text-container">
        <h3>Hecho para todos</h3>
        <p>Tanto como si eres un alumno, docente o incluso ya estas inmerso en una carrera profesional ¡MathEz será tu mejor herramienta!</p>
      </div>
      <div class="btn-container">
        <button class="create-account">Crear una cuenta</button>
        <button class="log-in">Iniciar sesion</button>
      </div>
    </div>
    <svg class="bottom-blob" viewBox="0 0 960 164" width="960" height="540" preserveAspectRatio="none">
      <g class="layer layer-3">
        <path  d="M0,20h56V5h57V1h56v46h57v-29h56V0h57v26h56v6h57v34h56V6h57v61h56V18h57v39h56V4h57v5h56v26h57V7h56v158H0V20Z"/>
      </g>
      <g class="layer layer-2" >
        <path d="M0,71h56v32h57v-35h56v35h57v-28h56v-4h57v16h56v-33h57v26h56v-25h57v-5h56v31h57v17h56v-44h57v33h56v1h57v2h56v-47,122H0v-94Z"/>
      </g>
      <g class="layer layer-1">
        <path d="M0,108h56v-25h57v29h56v-3h57v-3h56v-13h57v8h56v28h57v-23h56v-13h57v7h56v-3h57v38h56v-31h57v18h56v-3h57v-27h56v73H0v-57Z"/>
      </g>
    </svg>
    <div class="bottom-images">
      <img class="student" src="/assets/home/student.svg" alt="A student">
      <img class="engineer" src="/assets/home/engineer.svg" alt="An engineer">
      <img class="professor" src="/assets/home/professor.svg" alt="A professor">
    </div>
  </section>
</main>

<app-particles particlesId="particles1" [options]="bgConfig"></app-particles>
