:host{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  font-size: 0.5em;
}
term-container{
  justify-content: center;
  align-items: center;
}

:host:not(.partially-invalid,.fully-invalid).selected{
  --outline-color: var(--selection-color);
}

:host.partially-invalid{
  --outline-color: var(--partially-invalid-color);
}

:host.fully-invalid {
  --outline-color: var(--fully-invalid-color);
}


