:host{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 2ch;
  height: 50%;
  font-size: 0.5em;
}
term-container:not(:has(*)){
  border: dashed 1px gray;
}
term-container{
  justify-content: center;
  align-items: center;
}

