:host {
  display: block;
}

p {
  color: var(--col-black);
  font-size: var(--text-size);
  text-align: inherit;
  font-family: var(--text-family), sans-serif;
  font-style: var(--text-style);
  font-weight: var(--text-weight);
  line-height: var(--text-line-height);
}
