:host {
  --grid-template: auto 1fr/25% 1fr;
  --paragraph-area: 1/1/1/span 2;
  --paragraph-translate: 0 0;
  --paragraph-align: center;
  --paragraph-trans-delay: 200ms;
  --image-area: 1 / 1 /span 2 / 1;
  --image-translate: 0 0;
  --image-align: start;
  --image-trans-delay: 400ms;
  --calculators-area: 2/2;
  --calculators-translate: 0 0;
  --calculators-align: start;
  --calculators-trans-delay: 600ms;
  --topic-color: none;
}

section {
  height: 100vh;

  position: relative;

  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  padding: 2.5rem;
  color: var(--col-white);
  position: relative;
}

.title:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-color: var(--topic-color);
  transform-origin: center;
  transform: scaleX(0);
  z-index: -1;
  transition: transform var(--long-trans-duration);
}

.title.intersecting:after {
  transform: scaleX(1);
}

.content {
  display: grid;
  grid-template: var(--grid-template);
  place-items: center;
  flex: 1 0 auto;
  gap: 3rem;
  padding: 0 3rem;
}

.paragraph-container {
  max-width: 42.5rem;
  grid-area: var(--paragraph-area);
  text-align: center;
  align-self: var(--paragraph-align);
  translate: var(--paragraph-translate);
  transition-delay: var(--paragraph-trans-delay);
}

.image-container {
  grid-area: var(--image-area);
  width: 100%;
  align-self: var(--image-align);
  translate: var(--image-translate);
  transition-delay: var(--image-trans-delay);
}

.calculator-panel {
  display: grid;
  grid-template: auto auto auto/auto auto;
  grid-area: var(--calculators-area);
  gap: 1rem;
  align-self: var(--calculators-align);
  translate: var(--calculators-translate);
  transition-delay: var(--calculators-trans-delay);
}

.calculator-panel ez-h3 {
  grid-column: 1/span 2;
  text-align: center;
}

.paragraph-container, .image-container, .calculator-panel {
  opacity: 0;
  transform: translateY(20%);
  transition-property: transform, opacity;
  transition-duration: var(--long-trans-duration);
}

.intersecting:is(.paragraph-container, .image-container, .calculator-panel) {
  opacity: 1;
  transform: translateY(0);
}




