:host {
  height: 100%;
  display: grid;
  place-items: center;
  width: fit-content;
  position: relative;

  font-size: 1em;
  /* TODO: add annimations using other mechanism, this is buggy */
  /* animation: new-char 0.2s ease; */
  border-radius: 2px;
  transition: background-color 300ms cubic-bezier(0, 0, 0, 1);
}
:host:hover {
  background-color: #0004;
}
:host.fully-invalid pre {
  color: #f00;
}
:host.fully-invalid:hover {
  background-color: #faa;
}
:host.partially-invalid pre {
  color: #777;
}
pre {
  font-family: "Times New Roman", sans-serif;
  color: #000;
  line-height: 0;
}
@keyframes new-char {
  from {
    translate: 0 -10%;
    opacity: 0.3;
  }
}
