<main class="to_animate">
  <section id="logo-section">
    <figure class="logo-container">
      <div class="logo-eater"></div>

      <img src="res/logo/math-ez-sigma-fixed.png" alt="">
      <p><span>Math</span>Ez</p>
    </figure>
    <div class="phrase-container">
      <blockquote class="phrase">
        “La matemática pura es, a su manera, la poesía de las ideas lógicas.”
      </blockquote>
      <cite class="phrase phrase__autor">
        - Albert Einstein
      </cite>
    </div>
  </section>

  <section id="introduction-section">
    <h1 class="title">
      ¡Comprende y resuelve los problemas matemáticos en los que siempre tuviste dudas!
    </h1>

    <div class="panel__container" id="introduction-section__1">
      <section class="panel">
        <div class="panel__text">
          <h2>
            Todo en un solo lugar
          </h2>
          <p>
            Calculadoras para cualquier tema. Desde algebra, calculo y trigonometría hasta lógica, grafos y estadística ¡Todo en un solo lugar!
          </p>
        </div>
        <figure class="panel__ilustration to_animate">
          <img class="main main--green to_animate" src="res/introduction-section/section-1/main.png" alt="">
          <img class="secondary secondary--first" src="res/introduction-section/section-1/secondary--first.png" alt="" >
          <img class="secondary secondary--second" src="res/introduction-section/section-1/secondary--second.png" alt="" >
          <img class="secondary secondary--third" src="res/introduction-section/section-1/secondary--third.png" alt="" >
        </figure>
      </section>
    </div>
    <div class="panel__container" id="introduction-section__2">
      <section class="panel">
        <div class="panel__text">
          <h2>
            Hecho para todos.
          </h2>
          <p>
            Tanto como si eres un alumno, docente o incluso ya estas inmerso en una carrera profesional ¡MathEz será tu mejor herramienta
          </p>
        </div>
        <figure class="panel__ilustration to_animate">
          <img class="main main--blue to_animate" src="res/introduction-section/section-2/main.png" alt="">
          <img class="secondary secondary--first" src="res/introduction-section/section-2/secondary--first.png" alt="" >
          <img class="secondary secondary--second" src="res/introduction-section/section-2/secondary--second.png" alt="" >
          <img class="secondary secondary--third" src="res/introduction-section/section-2/secondary--third.png" alt="" >
        </figure>
      </section>
    </div>
    <div class="panel__container" id="introduction-section__3">
      <section class="panel">
        <div class="panel__text">
          <h2>
            Sin ningún costo
          </h2>
          <p>
            No te preocupes por el costo, gracias a los anuncios es que MathEz puede ayudarte sin necesidad de cobrarte en lo absoluto. Aunque de igual forma siempre se agradece el desactivar cualquier bloqueador de anuncios para ayudar a mantener el sitio. ¡Gracias!
          </p>
        </div>
        <figure class="panel__ilustration to_animate">
          <img class="main main--red to_animate" src="res/introduction-section/section-3/main.png" alt="">
          <img class="secondary secondary--first" src="res/introduction-section/section-3/secondary--first.png" alt="" >
          <img class="secondary secondary--second" src="res/introduction-section/section-3/secondary--second.png" alt="" >
          <img class="secondary secondary--third" src="res/introduction-section/section-3/secondary--third.png" alt="" >
        </figure>
      </section>
    </div>

  </section>

  <section id="tool-section">
    <h2 class="title">¡Prueba <span>Math</span>Ez ahora!</h2>

    <div class="panel-section">
      <div class="panel-container" id="container--algebra">

        <section class="panel" id="panel--algebra">
          <img class="to_animate" src="res/tools/algebra/algebra-icon.png" alt="">
          <h3>Algebra Lineal</h3>
          <p>Álgebra lineal estudia vectores, matrices, espacios vectoriales y transformaciones lineales, fundamentales para resolver sistemas y modelar fenómenos.</p>
          <nav>
            <ul class="panel__feature__list">
              <li class="to_animate">
                <a href="#" class="panel__feature">
                  <img src="res/tools/algebra/matrix-icon.png" alt="">
                  <h4>Calculadora de matrices</h4>
                  <p>Una calculadora que te permitira realizar una gran variedad de operaciones basicas usando matrices, tales como suma, multiplicacion, determinantes e inversas, entre otras funciones mas.</p>
                </a>
              </li>
              <li class="to_animate">
                <a class="panel__feature">
                  <img src="res/tools/algebra/ecuation-system-icon.png" alt="">
                  <h4>Calculadora de sistemas de ecuaciones lineales</h4>
                  <p>Con esta calculadora podrás obtener soluciones para sistemas de ecuaciones lineales, sea cual sea el numero de incógnitas que este tenga.</p>
                </a>
              </li>
            </ul>

          </nav>
        </section>


        <dialog class="panel__in-development-advice to_animate">
          <img src="res/tools/global/in-development-icon.png" alt="">
          <h4>Sigue en desarrollo</h4>
          <p>Con el tiempo se seguirán añadiendo calculadoras a esta sección.</p>
        </dialog>
      </div>
      <div class="panel-container" id="container--calculus">

        <section class="panel" id="panel--calculus">
          <img class="to_animate" src="res/tools/calculus/calculus-icon.png" alt="">
          <h3>Cálculo</h3>
          <p>Cálculo analiza cambios y tasas mediante derivadas e integrales, aplicando conceptos a funciones, curvas y áreas.</p>
          <nav>
            <ul class="panel__feature__list">
              <li class="to_animate">
                <a href="#" class="panel__feature">
                  <img src="res/tools/calculus/derivative-icon.png" alt="">
                  <h4>Calculadora de derivadas</h4>
                  <p>Una calculadora que te permitira derivar funciones de todos los ordenes al instante.</p>
                </a>
              </li>
              <li class="to_animate">
                <a class="panel__feature">
                  <img src="res/tools/calculus/integral-icon.png" alt="">
                  <h4>Calculadora de integrales</h4>
                  <p>Una calculadora para resolver integrales. Tanto definidas como indefinidas, con esta calculadora podras manejarlas con facilidad.</p>
                </a>
              </li>
            </ul>

          </nav>
        </section>


        <dialog class="panel__in-development-advice to_animate">
          <img src="res/tools/global/in-development-icon.png" alt="">
          <h4>Sigue en desarrollo</h4>
          <p>Con el tiempo se seguirán añadiendo calculadoras a esta sección.</p>
        </dialog>
      </div>
      <div class="panel-container" id="container--logic">

        <section class="panel" id="panel--logic">
          <img class="to_animate" src="res/tools/logic/logic-icon.png" alt="Logica">
          <h3>Logica</h3>
          <p>Lógica estudia razonamientos válidos mediante proposiciones, operadores y pruebas, fundamentando la inferencia y la estructura de argumentos.</p>
          <nav>
            <ul class="panel__feature__list">
              <li class="to_animate">
                <a href="#" class="panel__feature">
                  <img src="res/tools/logic/truth-table-icon.png" alt="">
                  <h4>Calculadora de Tablas de verdad</h4>
                  <p>Una calculadora que te permitira construir tablas de verdad a partir de una preposicion logica compuesta.</p>
                </a>
              </li>
              <li class="to_animate">
                <a class="panel__feature">
                  <img src="res/tools/logic/numeric-system-icon.png" alt="">
                  <h4>Calculadora de sistemas numericos</h4>
                  <p>Una calculadora que te permitira resolver conversiones y operaciones entre todo tipo de sistemas numericos, desde binario hasta hexadecimal.</p>
                </a>
              </li>
              <li class="to_animate">
                <a class="panel__feature">
                  <img src="res/tools/logic/node-icon.png" alt="">
                  <h4>Interprete grafico de nodos (o grafos)</h4>
                  <p>Esta no es una calculadora como tal, sino mas bien un interprete grafico que te permitira crear mapas de nodos graficamente y, a su vez, crear matrices de incidencia y adyacencia con estos.</p>
                </a>
              </li>
            </ul>

          </nav>
        </section>


        <dialog class="panel__in-development-advice to_animate">
          <img src="res/tools/global/in-development-icon.png" alt="">
          <h4>Sigue en desarrollo</h4>
          <p>Con el tiempo se seguirán añadiendo calculadoras a esta sección.</p>
        </dialog>
      </div>
      <div class="panel-container" id="container--graphics">

        <section class="panel" id="panel--graphics">
          <img class="to_animate" src="res/tools/graphics/graphic-icon.png" alt="Grafica">
          <h3>Graficas</h3>
          <p>Funciones en el plano cartesiano relacionan variables mediante gráficos, mostrando cómo un valor de entrada produce un valor de salida.</p>
          <nav>
            <ul class="panel__feature__list">
              <li class="to_animate">
                <a href="#" class="panel__feature">
                  <img src="res/tools/graphics/graphic-calculator-icon.png" alt="">
                  <h4>Calculadora grafica</h4>
                  <p>Una calculadora que te permitira dibujar graficas en el plano usando funciones matematicas.</p>
                </a>
              </li>
              <li class="to_animate">
                <a class="panel__feature">
                  <img src="res/tools/graphics/graphic-data-calculator-icon.png" alt="">
                  <h4>Calculadora grafica con datos</h4>
                  <p>Una calculadora que te permitira dibujar un graficas en el plano usando datos fijos en lugar de expresiones</p>
                </a>
              </li>
              <li class="to_animate">
                <a class="panel__feature">
                  <img src="res/tools/graphics/graphic-expression-interpreter.png" alt="">
                  <h4>Interprete grafico de expresiones</h4>
                  <p>Un interprete grafico con el que podras dibujar expresiones matematicas en formatos de imagen como JPEG o PNG.</p>
                </a>
              </li>


            </ul>

          </nav>
        </section>


        <dialog class="panel__in-development-advice to_animate">
          <img src="res/tools/global/in-development-icon.png" alt="">
          <h4>Sigue en desarrollo</h4>
          <p>Con el tiempo se seguirán añadiendo calculadoras a esta sección.</p>
        </dialog>
      </div>
      <div class="panel-container" id="container--measures">
        <section class="panel" id="panel--measures">
          <img class="to_animate" src="res/tools/measures/measures-icon.png" alt="">
          <h3>Medidas</h3>
          <p>Medidas y conversiones estandarizan cantidades mediante unidades y factores de conversión para comparar y calcular en diferentes sistemas.</p>
          <nav>
            <ul class="panel__feature__list">
              <li class="to_animate">
                <a href="#" class="panel__feature">
                  <img src="res/tools/measures/measures-conversion-calculator-icon.png" alt="">
                  <h4>Calculadora de conversion de medidas</h4>
                  <p>Una calculadora con la que podras hacer conversiones rapidas de medidas entre los sistemas de medicion mas comunmente usado.</p>
                </a>
              </li>
            </ul>

          </nav>
        </section>


        <dialog class="panel__in-development-advice to_animate">
          <img src="res/tools/global/in-development-icon.png" alt="">
          <h4>Sigue en desarrollo</h4>
          <p>Con el tiempo se seguirán añadiendo calculadoras a esta sección.</p>
        </dialog>
      </div>
      <div class="panel-container" id="container--statistics">
        <section class="panel" id="panel--stadistics">
          <img class="to_animate" src="res/tools/statistics/statistics-icon.png" alt="">
          <h3>Estadistica</h3>
          <p>Estadística analiza y resume datos mediante técnicas de probabilidad, distribuciones y medidas de tendencia central y dispersión.</p>
          <nav>
            <ul class="panel__feature__list">
              <li class="to_animate">
                <a href="#" class="panel__feature">
                  <img src="res/tools/statistics/statistics-measures-calculator-icon.png" alt="">
                  <h4>Calculadora de medidas estadisticas con datos agrupados</h4>
                  <p>Una calculadora que, con un conjunto de datos desordenados como entrada, te entregara todos los resultados estadisticos que puedas desear en forma de datos agrupados. Desde medidas de tendencia central hasta medidas de dispersion.</p>
                </a>
              </li>
              <li class="to_animate">
                <a href="#" class="panel__feature">
                  <img src="res/tools/statistics/count-calculator.png" alt="">
                  <h4>Calculadora de conteo</h4>
                  <p>Una calculadora que te facilitara realizar conteos de todo tipo. Desde el principio aditivo y multiplicativo, hasta la notacion factorial con permutaciones y combinaciones.</p>
                </a>
              </li>
              <li class="to_animate">
                <a href="#" class="panel__feature">
                  <img src="res/tools/statistics/probability-calculator.png" alt="">
                  <h4>Calculadora de probabilidad</h4>
                  <p>Una calculadora que te ayudara calcular la probabilidad de que un evento en concreto ocurra, en enfoques a priori y a posteriori.</p>
                </a>
              </li>

            </ul>

          </nav>
        </section>


        <dialog class="panel__in-development-advice to_animate">
          <img src="res/tools/global/in-development-icon.png" alt="">
          <h4>Sigue en desarrollo</h4>
          <p>Con el tiempo se seguirán añadiendo calculadoras a esta sección.</p>
        </dialog>
      </div>
    </div>
  </section>

</main>
