section{
  outline: 1px solid black;
}

.introduction{
  height: calc(100vh - 15rem);
  display: flex;
  align-items: center;
}
.introduction>div{
  flex: 1 0 50%;
}
.introduction .left-container{
  display: flex;
  justify-content: center;
}

.introduction .left-container svg{
  width: 75%;
  height: 25%;
}
.introduction .left-container svg *{
  fill: var(--col-black);
}

.introduction .right-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introduction .right-container h1{
  color: var(--col-black);
  text-align: center;

  font-family: var(--big-subtitle-family), sans-serif;
  font-size: var(--big-subtitle-size);
  font-style: var(--big-subtitle-style);
  font-weight: var(--big-subtitle-weight);
  line-height: var(--big-subtitle-size);
}

.introduction .right-container p{
  color: var(--col-black);
  text-align: center;
  font-size:  var(--text-size);
}

.introduction .right-container h2{
  color: var(--col-black);
  text-align: center;

  font-family: var(--small-subtitle-family), sans-serif;
  font-size: var(--small-subtitle-size);
  font-style: var(--small-subtitle-style);
  font-weight: var(--small-subtitle-weight);
  text-transform: uppercase;
}

.introduction .input-container {
  width: 70%;
  height: 4rem;
  display: flex;
}

.introduction .input-container app-input{
  font-size: 2rem;
  height: 100%;
}

.introduction .input-container button{
  width: 5rem;
  height: 100%;
  display: grid;
  place-content: center;
  font-size: 3rem;
  background-color: var(--col-main-l1);
  border: none;
  border-radius: 0.75rem;
}

.introduction .input-container app-input,
.introduction .input-container button{
  flex:1 1 auto
}


.introduction .input-container app-input,
.introduction .input-container button,
.introduction .right-container p {
  font-family:var(--text-family), sans-serif;
  font-style: var(--text-style);
  font-weight:var(--text-weight);
  line-height:var(--text-line-height);
}



.topics{
  position: relative;
  height: 100vh;
}

.topics .text-container{
  max-width: 30rem;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

.topics .text-container h3{
  color: var(--col-black);
  text-align: center;
  font-family: var(--big-subtitle-family),sans-serif;
  font-size: var(--big-subtitle-size);
  font-style: var(--big-subtitle-style);
  font-weight: var(--big-subtitle-weight);
}
.topics .text-container p{
  color: var(--col-black);
  text-align: center;

  font-family: var(--text-family), sans-serif;
  font-size: var(--text-size);
  font-style: var(--text-style);
  font-weight: var(--text-weight);
  line-height:  var(--text-line-height);
}

.topics .btn-container{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.topics .btn-container button{
  --btn-color:none;
  width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: transparent;
  border: none;
  translate: -50%;
  transition-property: top,left,transform;
  transition-duration: var(--long-trans-duration);
  transition-timing-function: var(--trans-easing-out);
  top: 0;
  left: 0;
}




.topics .btn-container button .img-container{
  width: 10rem;
  height: 10rem;
  padding: 1.5rem;
  border-radius: 1.5rem;
  background-color: var(--btn-color);
}

.topics .btn-container button .img-container img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  filter: invert(1) brightness(100);
}

.topics .btn-container button span{
  color: transparent;
  text-align: center;

  font-family: var(--small-subtitle-family),sans-serif;
  font-size: var(--small-subtitle-size);
  font-style: var(--small-subtitle-style);
  font-weight: var(--small-subtitle-weight);
  text-transform: uppercase;
  transition-property: color;
  transition-duration: var(--long-trans-duration);
  transition-timing-function: var(--trans-easing-out);
}

.topics .btn-container button.calculus{
  --btn-color: var(--col-topic-calculus);
  left: -15rem;
}
.topics .btn-container button.algebra{
  --btn-color: var(--col-topic-algebra);
  left: -10rem;
}
.topics .btn-container button.graphics{
  --btn-color: var(--col-topic-graphics);
  left: -5rem;
}
.topics .btn-container button.logic{
  --btn-color: var(--col-topic-logic);
  left: 50%;
}
.topics .btn-container button.measures{
  --btn-color: var(--col-topic-measures);
  left: 5rem;
}
.topics .btn-container button.trigonometry{
  --btn-color: var(--col-topic-trigonometry);
  left: 10rem;
}
.topics .btn-container button.statistics{
  --btn-color: var(--col-topic-statistics);
  left: 15rem;
}
.topics.intersected .btn-container button span{
  color: var(--btn-color);
}
.topics.intersected .btn-container button.calculus{
  left: -25rem;
  top: -6rem;
}
.topics.intersected .btn-container button.algebra{
  left: -10rem;
  top: -2rem;
}
.topics.intersected .btn-container button.trigonometry{
  left: 10rem;
  top: -2rem;
}
.topics.intersected .btn-container button.statistics{
  left: 25rem;
  top: -6rem;
}
.topics.intersected .btn-container button.graphics{
  left: -20rem;
  top: 13rem;
}
.topics.intersected .btn-container button.logic{
  top: 17rem;
}
.topics.intersected .btn-container button.measures{
  left: 20rem;
  top: 13rem;
}


.topics .blob{
  position: fixed;
  width: 20vw;
  height: 20vw;
}
.topics .blob,
.topics .blob .layer{
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: var(--long-trans-duration);
  transition-timing-function: var(--trans-easing-in);
}

.topics .blob-1{
  bottom: 0;
  left: 0;
  transform: translate(-100%, 100%);
}
.topics .blob-2{
  top: 0;
  right: 0;
  transform: translate(100% ,-100%);
}
.topics .blob-1 .layer{
  transform: translate(-100%, 100%);
}
.topics .blob-2 .layer{
  transform: translate(100% ,-100%);
}

.topics .blob .layer-1{
  fill: var(--col-main);
}
.topics .blob .layer-2{
  fill: var(--col-main-l1);
}
.topics .blob .layer-3{
  fill: var(--col-main-l2);
}
.topics.intersecting .blob,
.topics.intersecting .blob .layer{
  opacity: 1;
  transform: translate(0,0);
  transition-timing-function: var(--trans-easing-out);
}



.register{
  height: 100vh;
  position: relative;
}

.register .content-container{
  position: absolute;
  top: 20%;
  left: 50%;
  translate: -50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.register .content-container .text-container{
  max-width: 35rem;
}

.register .content-container .text-container h3{
  color: var(--col-black);
  text-align: center;
  font-family: var(--big-subtitle-family), sans-serif;
  font-size: var(--big-subtitle-size);
  font-style: var(--big-subtitle-style);
  font-weight: var(--big-subtitle-weight);
}

.register .content-container .text-container p{
  color: var(--col-black);
  text-align: center;
  font-family: var(--text-family), sans-serif;
  font-size: var(--text-size);
  font-weight: var(--text-weight);
  line-height: var(--text-line-height);
}

.register .content-container .btn-container{
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.register .content-container .btn-container button{
  padding: 1rem 1.5rem;
  border-radius: 1.5rem;
  border: none;
  text-align: center;
  font-family: var(--small-subtitle-family), sans-serif;
  font-size: var(--small-subtitle-size);
  font-style: var(--small-subtitle-style);
  font-weight: var(--small-subtitle-weight);
  text-transform: uppercase;
}

.register .content-container .btn-container button.create-account{
  color: var(--col-white);
  background-color: var(--col-main-l1);
}
.register .content-container .btn-container button.log-in{
  color: var(--col-black);
  background-color: var(--col-main-l2);
}
