<calculators-topic-section [topicColor]="colorSchema.main">
  <ez-h2>Algebra</ez-h2>
  <ez-p>Desde matrices hasta sistemas de ecuaciones de todas las dimensiones, ¡MathEz tiene calculadoras para cualquier
    problema de algebra con el que te encuentres!.
  </ez-p>
  <img alt="Ilustración de Algebra" src="/assets/calculators/algebra/algebra-ilustration.webp">
  <calculators-topic-card>
    <img alt="Calculadora de matrices." src="/assets/calculators/algebra/icons/matrix.webp">
    <ez-h4>Matrices</ez-h4>
    <ez-p>Define y realiza operaciones con matrices de todas las dimensiones.</ez-p>
  </calculators-topic-card>

  <calculators-topic-card>
    <img alt="Calculadora de vectores." src="/assets/calculators/algebra/icons/vectors.webp">
    <ez-h4>Vectores</ez-h4>
    <ez-p>Define cuantos vectores desees y realiza operaciones entre ellos fácilmente.</ez-p>
  </calculators-topic-card>

  <calculators-topic-card>
    <img alt="Calculadora de sistemas de ecuaciones." src="/assets/calculators/algebra/icons/equation-systems.webp">
    <ez-h4>Sistemas de ecuaciones</ez-h4>
    <ez-p>Encuentra la solución a cualquier sistema de ecuaciones.</ez-p>
  </calculators-topic-card>
</calculators-topic-section>
<img [speed]="-2" alt="Ilustracion de fondo" class="bg bg-1"
     ezRellax src="/assets/calculators/algebra/bg/algebra-bg-1.webp">
<img [speed]="-3" alt="Ilustracion de fondo" class="bg bg-2"
     ezRellax src="/assets/calculators/algebra/bg/algebra-bg-2.webp">
<img [speed]="-4" alt="Ilustracion de fondo" class="bg bg-3"
     ezRellax src="/assets/calculators/algebra/bg/algebra-bg-3.webp">
