img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

calculators-topic-section {
  --grid-template: auto 1fr / 1fr 30%;
  --paragraph-area: 1 / 1;
  --paragraph-translate: 0 6.25rem;
  --image-area: 1 / 2 / span 2 / 2;
  --image-translate: 0 0;
  --calculators-area: 2 / 1;
  --calculators-translate: 0 13.5rem;
}
