:host {
  position: relative;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

calculators-topic-section {
  --grid-template: auto 1fr / 1fr 30%;
  --paragraph-area: 1 / 1;
  --paragraph-translate: 0 6.25rem;
  --image-area: 1 / 2 / span 2 / 2;
  --image-translate: 0 7rem;
  --calculators-area: 2 / 1;
  --calculators-translate: 0 13.5rem;
}

.bg {
  position: absolute;
  width: auto;
  height: auto;
  z-index: -10;
  opacity: 0.5;
}

.bg-1 {
  top: -40%;
  right: 15rem;
  width: 35rem;
}

.bg-2 {
  top: -50%;
  left: 10rem;
  width: 30rem;
}

.bg-3 {
  top: -45%;
  left: 50%;
  width: 20rem;
}
