<frac-child
  #numeratorComponent
  [inputTerm]="{char:'/num',index:0,editableElementRef:numeratorComponent,parent:this}"
  [terms]="numeratorChildren"
  [parent]="this"
  [index]="0"
  (termDeleted)="this.inputUtilitiesService.elementDeletedEmitter.emit({elementIndex:index,residualData:denominatorChildren})"
></frac-child>
<span class="frac-bar"></span>
<frac-child
  #denominatorComponent
  [inputTerm]="{char:'/den',index:1,editableElementRef:denominatorComponent,parent:this}"
  [terms]="denominatorChildren"
  [parent]="this"
  [index]="1"
  (termDeleted)="this.inputUtilitiesService.elementDeletedEmitter.emit({elementIndex:index,residualData:numeratorChildren})"
>
</frac-child>

