:host{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.frac-bar{
  --line-height:calc(var(--font-size)  *0.05);

  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;

  width: 90%;
  height: var(--line-height);
  background-color: black;
}
