<frac-numerator
  #numeratorComponent
  [inputTerm]="{char:'/num',index:0,classRef:numeratorComponent,parent:this}"
  [terms]="numeratorChildren"
  [parent]="this"
  [index]="0"
  (termDeleted)="this.caretPositioningService.fractionDeleted.emit({fractionIndex:index,residualData:denominatorChildren})"
></frac-numerator>
<span class="frac-bar"></span>
<frac-denominator
  #denominatorComponent
  [inputTerm]="{char:'/den',index:1,classRef:denominatorComponent,parent:this}"
  [terms]="denominatorChildren"
  [parent]="this"
  [index]="1"
>
</frac-denominator>

