<div class="numerator-container">
  <ng-container *ngFor="let term of numeratorChildren; let i=index">
    <char
      *ngIf="term.type=='char'"
      [index]="i"
      [char]="term.char"
    ></char>
    <frac
      *ngIf="term.type=='fraction'"
      [index]="i"
      [numeratorChildren]="term.numeratorChildren"
      [denominatorChildren]="term.denominatorChildren"
    ></frac>
  </ng-container>
</div>
<span class="frac-bar"></span>
<div class="denominator-container">
  <ng-container *ngFor="let term of denominatorChildren; let i=index">
    <char
      *ngIf="term.type=='char'"
      [index]="i"
      [char]="term.char"
    ></char>
    <frac
      *ngIf="term.type=='fraction'"
      [index]="i"
      [numeratorChildren]="term.numeratorChildren"
      [denominatorChildren]="term.denominatorChildren"
    ></frac>
  </ng-container>
</div>

