:host{
  --default-outline-color:transparent;
  --default-line-color:#1d1d1b;
  --selection-color: #359aff;
  --partially-invalid-color:#f90;
  --fully-invalid-color:#d33;

  --highlighting-transition-duration: 0.5s;
  --highlighting-transition-easing: cubic-bezier(0,0,0,1);

  --outline-color:var(--default-outline-color);
  --inner-line-color:var(--default-line-color);
}

:host{
  outline: var(--outline-color) 0.01em solid;
  transition: outline-color var(--highlighting-transition-duration) var(--highlighting-transition-easing);
}

:host.partially-invalid,
:host.fully-invalid{
  border-radius: 0.1em;
}

