@keyframes selection-blink {
  from{
    outline: 0.01em solid #000;
  }
  to{
    outline: 0.01em solid #0004;
    border-radius: 0.1em;
    }
}
:host.selected{
  animation: selection-blink 1s cubic-bezier(0,0,0,1) forwards;
}
