:host{
  position: relative;
  display: flex;
  height: 100%;
}

span{
  position: relative;
  display: grid;
  place-items: center;
  font-family: "Times New Roman", sans-serif;
  color: var(--inner-line-color);
  transition: color var(--highlighting-transition-duration) var(--highlighting-transition-easing);
}

:host>editable-term-container.selected{
  --outline-color: var(--selection-color);
  --inner-line-color: var(--selection-color);
}
