:host{
  position: relative;
  display: flex;
  height: 100%;
}
span{
  position: relative;
  display: grid;
  place-items: center;
  font-family: "Times New Roman", sans-serif;
  color: var(--line-color);
  transition: color var(--highlighting-transition-duration) var(--highlighting-transition-easing);
}
